@media screen and (max-width: 1330px){

  .navigation{
    width: 915px;
    padding: 6px 61px 0px;
  
  }

    .rectangle-parent{
    min-height: auto;
    }



    .nav-items{
      font-size: 16px;
     
    }

}

@media screen and (max-width: 1125px){

.navigation{

padding: 5px 77px;

}
.nav-items{
  font-size: 16px;
}

}

.about{
  min-width: 54px;
}


@media screen and (max-width: 1000px){

  .navigation{
    padding:3px 21px 0px;
    
  }

  .nav-items{
    font-size: 16px;
  }

  .about{
    min-width: 66px;
  }
.hero{
  gap: 50px;
}

.profile-picture{
  padding: var(--padding-12xl) 49px var(--padding-12xl) 38px;
}

}

@media screen and (max-width:900px){
  #hide{
    display: none;
  }

  .navigation {
    padding: 3px 0px 0px;
}
}

@media screen and (max-width: 350px){
  .menu-btn{
    padding-left: 20px;
  }

  .profile-picture{
    padding: var(--padding-12xl) 79px var(--padding-12xl)27px;
  }


}

@media screen and (max-width: 950px){

.hero{
  gap: 0px;
  --padding-81xl: 15px;
}


}

@media screen and (max-width: 900px){

  .menu-btn{
    display: block;
  }


}
@media screen and (max-width: 850px){

.hero{
  gap: 0px;
  --padding-81xl: 18px;

}

.photo{
  margin-left: -80px;
}

.hero-title-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
  max-width: 70%;
}


.profile-picture{
  padding: var(--padding-12xl) 88px var(--padding-12xl)27px;
}
}

@media screen and (max-width: 450px){

:root{
  --padding-95xl:0px;
}

.sagar1{

  width:158px;
}

.profile-picture{
  padding: var(--padding-12xl) 35px var(--padding-12xl)27px;
}

.name{
  width: 320px;
}
.i{
  font-size: 40px;
  padding-top: 70px;
  height: 0px;
}

.m{
  font-size: 40px;
  height: 25px;
  padding-top: 71px;
}
.rectangle-parent{
  min-width: 250px;
}

.photo{
  padding-bottom: 300px;
  margin-left: -531px;
}

.hero{
  gap: 0px;
}
.name{
  width: 310px;
}

.sagar{
  font-size: 39px;
}

.hero-title-wrapper{
  gap: 0px;
}

.hero-content{
  min-height: 315px;
}

.this-is-my-container{
  font-size: 12.5px;
  padding-top: 7px;
}

.sagar1{
  font-size: 47px;
  line-height: 90px;
  height: 0px;
}

.gupta{
  font-size: 47px;
  padding-top: 15px;
  height: 60px;
}

.sidebar li{
  margin-bottom: 20px;
}

.sidebar{
  width: 100%;
}

.hero1{
  max-width: 0px;
}

.about{
  min-width: 64px;
}

#hide{
  display: none;
}
  
  
}


@media screen and (max-width: 370px){
  .menu-btn{
    padding-left: 20px;
  }

  .photo{
    margin-left: -542px;
  }

  .profile-picture{
    padding: var(--padding-12xl) 64px var(--padding-12xl)27px;
  }

}

@media screen and (max-width: 400px){

  .photo{
    margin-left: -545px;
  }

  .my-details-and, .this-is-my {
    font-size: 11px;
}

}



